<h1>Scores for <%= @puzzle.name %></h1>
<div class="buttons-container top-left">
  <%= link_to "Home", root_path %>
</div>
<section class="scores-container">
  <ol class="scores-list">
    <div class="score-headers">
      <h3 class="score-name-header">NAME</h3>
      <h3 class="score-time-header">TIME</h3>
    </div>
    <% @scores.each do |score| %>
    <li class="score-item">
      <span class="score-name"><%= score.name %>:</span>
      <span class="score-score"><%= score.score %>s</span>
    </li>
    <%end%>
  </ol>
</section>
