<h1>Scores for <%= @puzzle.name %>></h1>
<ol>
  <% @scores.each do |score| %>
  <li class="score-item">
    <span><%= score.name %>: <%= score.score %>s</span>
  </li>
  <%end%>
</ol>

<%= link_to "Home", root_path %>
