* {
  color: #333;
}

main {
  padding: 12px 24px 24px 24px;
}

h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
}

.transparent-bg {
  background-color: transparent;
}

.full-screen {
  height: 100%;
  width: auto;
}

.full-width {
  width: 100%;
}

.center-horizon {
  margin: 0 auto;
  display: flex;
}

.grid-1x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hidden {
  visibility: hidden;
}

.no-padding-top {
  padding-top: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.padding-sides {
  padding: 0 24px;
}

.small-img {
  height: 250px;
  width: 400px;
}

.lrg-image {
  height: 650px;
  width: 1080px;
}

// home page
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  a {
    padding: 12px 24px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.876);
    text-decoration: none;
    margin-right: 12px;
    &:hover {
      background-color: rgb(87, 85, 85);
      color: rgba(255, 255, 255, 0.931);
    }
  }
}

.top-left {
  position: absolute;
  top: 24px;
  left: 24px;
}

// game in progress: controller - puzzle, view - show
