<h1>Photo Tag</h1>
<p>Choose a picture then find the characters as fast as possible!</p>

<section class="grid-1x2">
  <% @puzzles.each do |puzzle| %>
  <h2><%= puzzle.name %></h2>
  <%= image_tag "/images/#{puzzle.image_url}", alt: "Rick's Lounge Image" %> <%=
  link_to "Play", puzzle_path(puzzle.id) %> <% end %>
</section>
