<% content_for :title, "Game" %> 
<% content_for :bodyClass, "show-puzzle" %>
<%= image_tag "/images/#{@puzzle.image_url}", class: "full-screen center-horizon" %>

<div class="target-box hidden"></div>
<div class="options hidden"></div>
